.mynav {
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  height: auto;
  background-color: #020202;
  background-repeat: no-repeat;
  max-width: 100%;
}
/* makes bar transparent*/
.navbar {
  background-color: black !important;
}
/* Nav Title*/
.navbar .navbar-brand {
  color: #a28557;
}
/* Why Does This Not Work?
  .nav-brand:hover {
    background-color: #a28557 !important;
  }
  */

/* This centers menu */
.navbar .navbar-nav {
  margin: 0 auto;
}
/* Main Menu */
.navbar .nav-link {
  color: #a28557 !important;
}
/* Dropdown Menu */
.navbar .dropdown-menu {
  background-color: #3b3b3b;
}
/* Dropdown Menu Items */
.navbar .dropdown-item {
  color: #a28557;
}
/* Dropdown hover */
.dropdown-item:hover {
  background-color: black;
}
/* Search Bar*/
.form-control {
  background-color: #3b3b3b;
  color: #a28557;
  border: 1px solid #a28557;
}
/* Dropdown Line */
.navbar .dropdown-divider {
  border-color: #a28557;
}
/* Button */
.btn {
  background-color: #3b3b3b;
  color: #a28557;
  border: 1px solid #a28557;
}
/* Search Button*/
.btn:hover {
  background-color: #a28557;
  border: 1px solid #f8e009;
}
/* Hamburger */
.navbar .navbar-toggler {
  color: #a28557;
  background-color: #a28557;
}
/* Subtitle #Does NOT stack correctly when adjusting size*/
.subtitle {
  margin-top: 200px;
  margin-left: 18px;
  font-size: large;
  font-style: italic;
  color: #a28557;
  max-width: 100%;
  height: auto;
}
body {
  background-color: #000000;
}
/*Subtext between img and products*/
.body-p {
  height: 50px;
  margin-top: 20px;
  margin-left: 18px;
  font-size: x-large;
  color: #a28557;
  text-align: center;
  max-width: 100%;
  height: auto;
}
/*Image Text/Etc*/
.col-sm {
  color: #a28557;
}
/*Images #Why are they not centered correctly?*/
.img-crop img {
  width: 185px;
  height: 185px;
  max-width: 100%;
  height: auto;
}
.row .col-adv {
  height: 500px;
  text-align: center;
}
